#t1{
    
    padding-right: 30px;
}
#t2{
    
    padding-right: 30px;
}
#dp{
    padding-top: 50px;
    
}
#post{
    padding-top: 20px;
}

/* .dpimage{

    border-radius: 50%;
    object-fit: cover;
} */