{% extends "main.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 mt-3"> 
      <img src="{% static 'images/dp1.jpg' %}" alt="" width="50px">
    </div>
    <div class="col-md-4 fs-4 mt-4">
      yadhu
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 mt-3">        
    </div>
    <div class="col-md-10 text-center mt-3 " >
      <div class="col-md-12">
        <img src="{% static 'images/sm1.jpg' %}" class="img-fluid" alt="" style="width: 100%;" >
      </div>               
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2 mt-4 btn btn-primary">
      Like
    </div>
    <div class="col-md-2 mt-4 ml btn btn-info">
      Comment
    </div>
    <div class="col-md-6">
    </div>
  </div>



  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 mt-3"> 
      <img src="{% static 'images/dp2.jpg' %}" alt="" width="50px">
    </div>
    <div class="col-md-4 fs-4 mt-4">
      munavvir
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 mt-3">        
    </div>
    <div class="col-md-10 text-center mt-3" >
      <div class="col-md-12">
        <img src="{% static 'images/sm2.jpg' %}" class="img-fluid" alt="" style="width: 100%;" >
      </div>               
    </div>
    <div class="col-md-1">
    </div> 
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2 mt-4 btn btn-primary">
      Like
    </div>
    <div class="col-md-2 mt-4 ml btn btn-info">
      Comment
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
{% endblock %}