{% extends "main.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  {% for d in data %}
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 mt-3"> 
      {% if d.user.dpimg %}
      <img src="{{d.user.dpimg.url}}" alt="" width="80px">
      {% else %}
      <img src="{% static 'images/dp3.jpg' %}" width="80px" alt="">
      {% endif %}
    </div>
    <div class="col-md-4 fs-4 mt-4">
      <b>{{d.user.username}}</b>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 mt-3">        
    </div>
    <div class="col-md-10 text-center mt-3">
      <div class="col-md-12">
        <img src="{{d.imageFile.url}}" class="img-fluid" alt="" style="width: 80%;" >
      </div>               
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <b>{{d.upd_date}}</b>
    </div>
    <div class="col-md-2">
      <b>{{d.upd_time}}</b>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2 mt-3">

      <form action="{% url 'likes' %}" method="post">
        {% csrf_token %}
        
        {% if d.like %}
        <button type="submit" id="" class="btn fa fa-heart" name="unlike" style="font-size: 38px; color:red;"></button>
        {% else %}
       
        <button type="submit" id="" class="btn fa fa-heart-o" name="like" style="font-size: 38px; color:black;"></button>
        {% endif %}
        
       
       <input type="hidden" name="li_image" value="{{d.id}}">
      </form>
      {% if d.like != 0 %}
      <b>{{d.like_count}} Like{{d.like_count|pluralize}}</b>             
      {% endif %}
    </div>
    <div class="col-md-2 mt-3"><a href="/comments/{{d.id}}"><i class="fa fa-comment-o " style="font-size:38px; color: black;"></i></a></div>
    
    <div class="col-md-6">
    </div>

    </div>
    {% endfor %}
  </div>


  {% for i in mydata %}
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 mt-3"> 
      {% if i.user.dpimg %}
      <img src="{{i.user.dpimg.url}}" alt="" width="80px">
      {% else %}
      <img src="{% static 'images/dp3.jpg' %}" width="80px" alt="">
      {% endif %}
    </div>
    <div class="col-md-4 fs-4 mt-4">
      <b>{{i.user.username}}</b>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 mt-3">        
    </div>
    <div class="col-md-10 text-center mt-3">
      <div class="col-md-12">
        <img src="{{i.imageFile.url}}" class="img-fluid" alt="" style="width: 80%;" >
      </div>               
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <b>{{i.upd_date}}</b>
    </div>
    <div class="col-md-2">
      <b>{{i.upd_time}}</b>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2 mt-3">

      <form action="{% url 'likes' %}" method="post">
        {% csrf_token %}
        
        {% if i.like %}
        <button type="submit" id="" class="btn fa fa-heart" name="unlike" style="font-size: 38px; color:red;"></button>
        {% else %}
       
        <button type="submit" id="" class="btn fa fa-heart-o" name="like" style="font-size: 38px; color:black;"></button>
        {% endif %}
        
       
       <input type="hidden" name="li_image" value="{{d.id}}">
      </form>
      {% if i.like != 0 %}
      <b>{{i.like_count}} Like{{i.like_count|pluralize}}</b>             
      {% endif %}
    </div>
    <div class="col-md-2 mt-3"><a href="/comments/{{i.id}}"><i class="fa fa-comment-o " style="font-size:38px; color: black;"></i></a></div>
    
    <div class="col-md-6">
    </div>

    </div>
    {% endfor %}
  </div>


</div>
{% endblock %}