{% extends "main.html" %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 clo-md-3"></div>
        <div class="col-lg-6 clo-md-6 container">
            <span>yadhu followed you</span>
        </div>
        <div class="col-lg-3 clo-md-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 clo-md-3"></div>
        <div class="col-lg-6 clo-md-6 container">
            <span>munavvir started following you</span>
        </div>
        <div class="col-lg-3 clo-md-3"></div>
    </div>
</div>


{% endblock %}