{% extends "main.html" %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 clo-md-3"></div>
        <div class="col-lg-6 clo-md-6 mt-4 container">
            <img src="{% static 'images/dp1.jpg' %}" alt="" width="50px">
            yadhu followed you
        </div>
        <div class="col-lg-3 clo-md-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 clo-md-3"></div>
        <div class="col-lg-6 clo-md-6 mt-4 container">
            <img src="{% static 'images/dp.jpg' %}" alt="" width="50px">
            munavvir started following you
        </div>
        <div class="col-lg-3 clo-md-3"></div>
    </div>
</div>


{% endblock %}