{% extends "main.html" %} {% load static %} {% block content %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div class="container">
        <div class="row">
          <div class="col-lg-6" >
            <img src="{% static 'images/dp.jpg' %}" alt="" width="70px" id="dp">
          </div>
          
          <div class="col-lg-6">
            <table>
                <tr>
                    <th id="t1">post</th>
                    <th id="t2">followers</th>
                    <th id="t3">following</th>
                </tr>
                <tr>
                    <td><center>3</center></td>
                    <td><center>8</center></td>
                    <td><center>5</center></td>
                </tr>
            </table>
          </div>
          <div class="row" id="post">
            <div class="col-lg-12"><h4>posts</h4></div>
            <div class="col-lg-3"><img src="{% static 'images/sm1.jpg' %}" alt="" width="170px"></div>
            <div class="col-lg-3"><img src="{% static 'images/sm2.jpg' %}" alt="" width="170px"></div>
            <div class="col-lg-3"><img src="{% static 'images/sm4.jpg' %}" alt="" width="170px"></div>

          </div>
        </div>
    


{% endblock %}