{% extends "main.html" %} {% load static %} {% block content %}

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="add_dp">
            {% if profile.dpimg %}
            <img src="{{profile.dpimg.url}}" alt="" width="120px" id="dp"><br><br>
           
            {% else %}
          
            <img src="{% static 'images/dp3.jpg' %}" width="120px" alt="">
            {% endif %}
            </a>
            <!-- <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
            <input type="file" name="dpimage" id="" required>
            <button class="btn btn-primary">set as profile picture</button>
            </form> -->
          </div>
          
          <div class="col-md-6">
            
            <table class="fs-5 mt-3">
                <tr>
                  <th colspan="3"><center>{{profile.name}}</center></th>
                  <td><button id="dropdownMenuButton1" class="btn btn-success fa fa-cog " data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="fa fa-user dropdown-item" href="/edit/{{profile.id}}">update profile</a></li>
                      <li><a class="fa fa-pencil dropdown-item" href="/change_pass">change password</a></li>
                    </ul>
                  </td>
                </tr>
                <tr >
                    <th id="t1" >post</th>
                    <th id="t2">followers</th>
                    <th id="t3">following</th>
                </tr>

                <tr>
                    <td><center>{{count}}</center></td>
                    <td><center>{{followers}}</center></td>
                    <td><center>{{following}}</center></td>
                </tr>
            </table>
          </div>
          <div class="row" id="post">
            
            <div class="col-md-12"><h4>posts</h4></div>
            {% for i in posts %}
            {% if i.imageFile.url %}
            <div class="col-md-4 mt-4"><a  href="/delete_post/{{i.id}}"  onclick="return confirm('want to delete this picture?')"><img src="{{i.imageFile.url}}" alt="" width="350px"></div></a>
            {% endif %}
            {% endfor %}
            <!-- <div class="col-lg-3"><img src="{% static 'images/sm2.jpg' %}" alt="" width="170px"></div>
            <div class="col-lg-3"><img src="{% static 'images/sm4.jpg' %}" alt="" width="170px"></div> -->
          </div>
        </div>
    
{% endblock %}